/** Common cleanup **/

html {
  font-size: 10px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

p {
  margin: 0 0 10px;
}

a {
  //color: #337ab7;
  text-decoration: none;
}

a {
  background-color: transparent;
}

a, .danger, .book-remove, .editable-empty, .editable-empty:hover {
  color: #45b29d;
}

/** Details **/

.navbar {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.clearfix::after,
.clearfix::before,
.container-fluid::after,
.container-fluid::before,
.container::after,
.container::before,
.modal-footer::after,
.modal-footer::before,
.modal-header::after,
.modal-header::before,
.navbar::after,
.navbar::before,
.pager::after,
.pager::before {
  display: table;
  content: " ";
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.left-panel, .content-area {
  float: left;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 1px;
}

.left-panel {
  width: 16.67%;
}

.content-area {
  width: 83.33%;
}

.left-panel ul {
  list-style: none;
}

.left-panel li a {
  color: #444;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.left-panel li a:hover {
  background: rgba(153, 153, 153, 0.4);
  border-radius: 5px;
  outline: 0;
}

.book-list {

}

.book-fluid {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 16.67%;
}

.book-fluid img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.book-cover {
  height: 225px;
  position: relative;
  margin-bottom: 10px;
}

.book-cover span img {
  border: 1px solid #fff;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  -webkit-box-shadow: 0 5px 8px -6px #777;
  -moz-box-shadow: 0 5px 8px -6px #777;
  box-shadow: 0 5px 8px -6px #777;
}

.book-title {
  font-size: 14px;
  font-weight: bold;
  color: #444;
  margin: 0;
}

.book-author {
  font-size: 12px;
  color: #999;
  margin: 0;
}

footer {
  clear: both;
}