/** Common cleanup **/

html {
  font-size: 10px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

p {
  margin: 0 0 10px;
}

a {
  //color: #337ab7;
  text-decoration: none;
}

a {
  background-color: transparent;
}

a, .danger, .book-remove, .editable-empty, .editable-empty:hover {
  color: #45b29d;
}

/** Details **/

.left-panel {
  float: left;
  width: 16.67%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 1px;
}

.left-panel ul {
  list-style: none;
}

.left-panel li a {
  color: #444;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.left-panel li a:hover {
  background: rgba(153, 153, 153, 0.4);
  border-radius: 5px;
  outline: 0;
}

.content-area {
  float: left;
  width: 83.33%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 1px;
}

.book-list {

}

.book-fluid {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 16.67%;
}

.book-title {
  font-size: 14px;
  font-weight: bold;
  color: #444;
  margin: 0;
}

.book-author {
  font-size: 12px;
  color: #999;
  margin: 0;
}

footer {
  clear: both;
}