version: "3.0"
services:
  pengzu_db:
    image: postgres:14.3
    restart: always
    environment:
      - POSTGRES_PASSWORD=pengzu-password
      - POSTGRES_USER=postgres
      - POSTGRES_DB=pengzu
    volumes:
      - /docker/pengzu:/var/lib/postgresql
      - /docker/pengzu/data:/var/lib/postgresql/data

  pengzu_app:
    image: xushaohua/pengzu-backend:latest
    restart: always
    links:
      - pengzu_db:pengzu_db
    environment:
      - DATABASE_URL=postgres://postgres:pengzu-password@pengzu_db/pengzu
      - LIBRARY_ROOT_DIR=/opt/PengzuLibrary
      - JWT_SECRET=OaoQu9yoo7eehaht
    volumes:
      - /local/path/to/PengzuLibrary:/opt/PengzuLibrary

  pengzu_nginx:
    image: xushaohua/pengzu-frontend:latest
    restart: always
    links:
      - pengzu_app:pengzu_app
    ports:
      - 127.0.0.1:3100:80
