/** Main Style **/

/** book_list **/
a {
  text-decoration: none;
}

a:focus, a:hover {
  color: #23527c;
  text-decoration: underline;
}

.wrap-text-l3 {
  display: -webkit-box;
  width: 10rem;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.wrap-text-no-line {
  display: block;
  width: 10rem;
}

.book-cover-img {
  border: 1px solid #fff;
  box-shadow: 0 5px 8px -6px #777;
}